# Arquivos e diretórios a serem ignorados pelo Git

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente virtual
venv/
env/

# Arquivo de configuração
config.py
credentials.json

# Logs e caches
logs/
.cache/
bot.log

# Arquivo de Anotacoes
anotacoes.txt